# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints
prototype*

# Scrapy stuff:
.scrapy

# Logging
*.log

# Visual Studio
.vscode

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/